body {
    font-family: Georgia, serif;
    line-height: 1.4;
    margin: 0;
    background-color: #ebe9e1;
    font-size: 4em;
    text-align: left;
}
h2,
h3 {
    color: #f76c6c;
}
h1 {
    color: #fff;
    font-weight: bold;
}
header {
    background-color: #f76c6c;
    color: #fff;
    padding: 20px;
    text-align: center;
}
header > h3 {
    color: #fff;
}
main {
    padding: 20px;
}
a {
    color: #0077cc;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img {
    border-radius: 5px;
}
pre {
    background-color: #24395e;
    color: #fff;
    padding: 10px;
    overflow-x: auto;
    border-radius: 5px;
}
code {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.8em;
}
footer {
    padding: 20px;
}
ol {
    margin-left: 40px;
}
ul {
    list-style-type: none;
    padding: 0;
}
hr {
    height: 3px;
    background: #f76c6c;
    border: 0;
    margin: 2em 0;
}
li {
    margin-bottom: 0.8em;
}

@media only screen and (min-width: 992px) {
    body {
        font-size: 1.4em;
    }
    h2,
    h3 {
        font-size: 1.6em;
    }
    h1 {
        font-size: 3em;
    }
    header p {
        font-size: 1.2em;
    }
    main {
        display: flex;
        justify-content: center;
    }
    .content {
        max-width: 800px;
    }
    footer {
        display: flex;
        justify-content: center;
    }
    ol {
        margin-left: 0px;
    }
}
